<header>
  <app-breadcrumb></app-breadcrumb>
  <div class="actions">
    <a mat-mini-fab color="accent" routerLink="/goals/create" aria-label="Create a goal">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</header>

<main>
  <table mat-table [dataSource]="goals" multiTemplateDataRows class="mat-elevation-z4">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n>Id</th>
      <td mat-cell *matCellDef="let goal"> {{goal.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n>Name</th>
      <td mat-cell *matCellDef="let goal"> {{goal.name}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let goal" [attr.colspan]="displayedColumnsWithExpand.length">
        <div [@detailExpand]="goal == expandedGoal ? 'expanded' : 'collapsed'">
          <div class="goal-description">
            {{goal.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let goal; columns: displayedColumns;" class="goal-row" [class.expanded-row]="expandedGoal === goal"
      (click)="expandedGoal = expandedGoal === goal ? null : goal"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</main>