header {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .actions {
    a {
      margin: 4px;
    }
  }
}

main {
  padding: 0 16px;


  tr.detail-row {
    height: 0;
  }

  tr.goal-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .goal-row td {
    border-bottom-width: 0;
  }

  .goal-description {
    padding: 16px 0;
  }
}