<mat-toolbar color="primary">
    <img src="/assets/cdgoals-white.svg" alt="logo" class="logo"/>
    <span>Capitale des Goals</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="goals">
          <mat-icon>rocket_lauch</mat-icon>
          <span>Goals</span>
        </button>
        <button mat-menu-item routerLink="calendar">
          <mat-icon>calendar_month</mat-icon>
          <span>Calendar</span>
        </button>
      </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>