<header>
  <app-breadcrumb></app-breadcrumb>
</header>

<main>
  <form [formGroup]="goalForm" class="flex-column">
    <mat-form-field>
      <mat-label for="name" i18n>Name</mat-label>
      <input type="text" matInput [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')" i18n>Required field</mat-error>
      <mat-error *ngIf="nameFormControl.hasError('maxlength')" i18n>Exceeded limit of 100 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name" i18n>Description</mat-label>
      <textarea matInput [formControl]="descriptionFormControl"></textarea>
      <mat-error *ngIf="nameFormControl.hasError('max')" i18n>Exceeded limit of 2000 characters</mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button routerLink="../"  i18n>Cancel</button>
      <button mat-raised-button color="primary" (click)="createGoal()" [disabled]="goalForm.invalid" i18n>Create</button>
    </div>
  </form>
</main>
