<p class="breadcrumb">
    <a mat-icon-button [disabled]="breadcrumb.length === 0" routerLink="../" class="primary-color" aria-label="Previous page">
        <mat-icon>arrow_back</mat-icon>
    </a>

    <mat-icon aria-hidden="true" fontIcon="chevron_left"></mat-icon>

    <a mat-icon-button routerLink="../" class="primary-color" aria-label="Home page">
        <mat-icon>home</mat-icon>
    </a>

    <mat-icon *ngFor="let step of breadcrumb" aria-hidden="true" fontIcon="chevron_right"></mat-icon>

    <span *ngFor="let step of breadcrumb" class="primary-color">
        <a [routerLink]="step.url" class="primary-color" i18n>{step.alias, select, Goals {Goals} Calendar {Calendar}}</a>
    </span>

    <mat-icon aria-hidden="true" fontIcon="chevron_right"></mat-icon>

    <span class="current-step accent-color" i18n>{currentStep, select, Home {Home} Creation{Creation}}</span>
</p>