@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$cdgoals-ui-primary: mat.define-palette(mat.$light-blue-palette);
$cdgoals-ui-accent: mat.define-palette(mat.$amber-palette);
$cdgoals-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cdgoals-ui-theme: mat.define-light-theme((
  color: (
    primary: $cdgoals-ui-primary,
    accent: $cdgoals-ui-accent,
    warn: $cdgoals-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cdgoals-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin color($cdgoals-ui-theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($cdgoals-ui-theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');

    .primary-color {
      color: mat.get-color-from-palette($primary-palette, 500) !important;
    }

    .accent-color {
      color: mat.get-color-from-palette($accent-palette, 500) !important;
    }
}

@mixin theme($cdgoals-ui-theme) {
  $color-config: mat.get-color-config($cdgoals-ui-theme);
  @if $color-config != null {
    @include color($cdgoals-ui-theme);
  }

  $typography-config: mat.get-typography-config($cdgoals-ui-theme);
  @if $typography-config != null {
    @include typography($cdgoals-ui-theme);
  }
}

@include theme($cdgoals-ui-theme);

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.form-actions {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 16px;
}